Course Repostory Flow v.1/Microsoft.Flow/flows/Course Repository Code/definition.json
{"name":"d47f1cb2-ee3d-430c-b1ee-230bc72f472a","id":"/providers/Microsoft.Flow/flows/d47f1cb2-ee3d-430c-b1ee-230bc72f472a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Course Repository Template","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"de0cda26-9f08-4229-9544-93c7003f04e6","type":"User","tenantId":"ba5a7f39-e3be-4ab3-b450-67fa80faecad"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-12-20T23:56:18.8256789Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"timeZone":"Central Standard Time","schedule":{"hours":["7"]}},"metadata":{"operationMetadataId":"8a2e6199-7ec5-46ef-b567-b104d8e21513"},"type":"Recurrence"}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01OBFDEBGHZVI4B4VI65DY7HCSJBTUXTBB":"/AS Fall Repository.xlsx","operationMetadataId":"fba97bba-7680-4dc3-9b64-653b2cd1cef4","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/89442930-492c-4ca8-ba1e-f2b3a8ab9394","drive":"b!pG67Q0rZ20avE8w_ipBJpFnhi0k9b0pDpTra-FsDuSBVQOTrKa73Qp82PApgvc4L","file":"01OBFDEBGHZVI4B4VI65DY7HCSJBTUXTBB","table":"{00000000-000C-0000-FFFF-FFFF00000000}"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_Excel_Keys":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"1b04baea-2c9d-4f66-aa9d-e4c91f99dd4d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MyExcelKeys","type":"array"}]}},"Initialize_variable_-_SharePoint_Keys":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"8cfcfeb0-26b5-4227-93a1-4703bc647f30"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MySharePointKeys","type":"array"}]}},"Apply_to_each_-_Populate_SP_Keys_Array":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Compose_-_SP_Object":{"runAfter":{},"metadata":{"operationMetadataId":"6f782e06-1322-4473-baff-0881f838e697"},"type":"Compose","inputs":{"Topic":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Topic']}","Title":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Title']}","Link":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Link']}","Description":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Description']}","Modality":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Modality']}","Connected Files":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['ConnectedFiles']}","Location":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Location']}","Creator":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Creator']}","Last Edit":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['LastEdit']}","Version":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Version_']}","Course":"@{items('Apply_to_each_-_Populate_SP_Keys_Array')?['Course']}"}},"Parse_JSON_-_SP_Content":{"runAfter":{"Compose_-_SP_Object":["Succeeded"]},"metadata":{"operationMetadataId":"dc8b45f4-28d9-4c81-b230-79b2453eb3bd"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_SP_Object')","schema":{"type":"object","properties":{"Topic":{"type":"string"},"Title":{"type":"string"},"Link":{"type":"string"},"Description":{"type":"string"},"Modality":{"type":"string"},"Connected Files":{"type":"string"},"Location":{"type":"string"},"Creator":{"type":"string"},"Last Edit":{"type":"string"},"Version":{"type":"string"},"Course":{"type":"string"}}}}},"Append_to_array_variable_2":{"runAfter":{"Parse_JSON_-_SP_Content":["Succeeded"]},"metadata":{"operationMetadataId":"0a1f8325-72c6-4d63-8442-db78d9ea7949"},"type":"AppendToArrayVariable","inputs":{"name":"MySharePointKeys","value":"@body('Parse_JSON_-_SP_Content')"}}},"runAfter":{"Initialize_variable_-_SharePoint_Keys":["Succeeded"]},"metadata":{"operationMetadataId":"c8b4f625-ef40-4920-a49e-75b32122dffd"},"type":"Foreach"},"Apply_to_each_-_Delete_SP_items_not_in_Intersection":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Compose_-_SP_Object_to_Compare":{"runAfter":{},"metadata":{"operationMetadataId":"ab24a53f-5e7e-4113-a685-3ae5d2ce2285"},"type":"Compose","inputs":{"Topic":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Topic']}","Title":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Title']}","Link":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Link']}","Description":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Description']}","Modality":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Modality']}","Connected Files":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['ConnectedFiles']}","Location":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Location']}","Creator":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Creator']}","Last Edit":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['LastEdit']}","Version":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Version_']}","Course":"@{items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['Course']}"}},"Parse_JSON_-_SP_Content_to_Compare":{"runAfter":{"Compose_-_SP_Object_to_Compare":["Succeeded"]},"metadata":{"operationMetadataId":"986945aa-a52a-4245-b34d-5d730dab3987"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_SP_Object_to_Compare')","schema":{"type":"object","properties":{"Topic":{"type":"string"},"Title":{"type":"string"},"Link":{"type":"string"},"Description":{"type":"string"},"Modality":{"type":"string"},"Connected Files":{"type":"string"},"Location":{"type":"string"},"Creator":{"type":"string"},"Last Edit":{"type":"string"},"Version":{"type":"string"},"Course":{"type":"string"}}}}},"Condition":{"actions":{},"runAfter":{"Parse_JSON_-_SP_Content_to_Compare":["Succeeded"]},"else":{"actions":{"Delete_item":{"runAfter":{},"metadata":{"operationMetadataId":"1e8cead1-74b9-42cc-a062-9e6196e8eff8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"https://vanderbilt365.sharepoint.com/sites/ELC","table":"6c70b25b-9bf8-4356-a357-bc6a59f7b590","id":"@items('Apply_to_each_-_Delete_SP_items_not_in_Intersection')?['ID']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@variables('IntersectionArray')","@body('Parse_JSON_-_SP_Content_to_Compare')"]},"metadata":{"operationMetadataId":"c711858f-e900-41c4-901b-7a8cb3a76d38"},"type":"If"}},"runAfter":{"Initialize_variable_Intersection_Array_-_Unchanged_items":["Succeeded"]},"metadata":{"operationMetadataId":"e13c7e52-adcc-48b5-95b0-1e2ea2940e5c"},"type":"Foreach"},"Initialize_variable_Intersection_Array_-_Unchanged_items":{"runAfter":{"Apply_to_each_-_Populate_SP_Keys_Array":["Succeeded"]},"metadata":{"operationMetadataId":"5e7aa57d-b738-4647-88ee-e1b0f1f318b7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IntersectionArray","type":"array","value":"@intersection(variables('MySharePointKeys'),variables('MyExcelKeys'))"}]}},"Get_items":{"runAfter":{"Apply_to_each_-_Excel_Content":["Succeeded"]},"metadata":{"operationMetadataId":"f6975f3b-b470-4547-84f9-eeffc640d50e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://vanderbilt365.sharepoint.com/sites/ELC","table":"6c70b25b-9bf8-4356-a357-bc6a59f7b590","$top":4999},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Excel_Content":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Compose_-_Excel_Content":{"runAfter":{},"metadata":{"operationMetadataId":"43dd4cc7-c73e-452f-82d7-d278a00b9c5e"},"type":"Compose","inputs":{"Topic":"@{items('Apply_to_each_-_Excel_Content')?['Topic']}","Title":"@{items('Apply_to_each_-_Excel_Content')?['Title']}","Link":"@{items('Apply_to_each_-_Excel_Content')?['Link']}","Description":"@{items('Apply_to_each_-_Excel_Content')?['Description']}","Modality":"@{items('Apply_to_each_-_Excel_Content')?['Modality']}","Connected Files":"@{items('Apply_to_each_-_Excel_Content')?['Connected Files']}","Location":"@{items('Apply_to_each_-_Excel_Content')?['Location']}","Creator":"@{items('Apply_to_each_-_Excel_Content')?['Creator']}","Last Edit":"@{items('Apply_to_each_-_Excel_Content')?['Last Edit']}","Version":"@{items('Apply_to_each_-_Excel_Content')?['Version']}","Course":"@{items('Apply_to_each_-_Excel_Content')?['Course']}"}},"Parse_JSON_-_Excel_Content":{"runAfter":{"Compose_-_Excel_Content":["Succeeded"]},"metadata":{"operationMetadataId":"3493098b-6168-42dc-925f-a9e19a5bfac7"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_Excel_Content')","schema":{"type":"object","properties":{"Topic":{"type":"string"},"Title":{"type":"string"},"Link":{"type":"string"},"Description":{"type":"string"},"Modality":{"type":"string"},"Connected Files":{"type":"string"},"Location":{"type":"string"},"Creator":{"type":"string"},"Last Edit":{"type":"string"},"Version":{"type":"string"},"Course":{"type":"string"}}}}},"Append_to_array_variable_-_Excel_Content":{"runAfter":{"Parse_JSON_-_Excel_Content":["Succeeded"]},"metadata":{"operationMetadataId":"9d86f96e-8774-4d09-86e9-9d31b1fc53bb"},"type":"AppendToArrayVariable","inputs":{"name":"MyExcelKeys","value":"@body('Parse_JSON_-_Excel_Content')"}}},"runAfter":{"Initialize_variable_Excel_Keys":["Succeeded"]},"metadata":{"operationMetadataId":"8b443eb8-dc9a-4f60-a3ac-8e1af661749a"},"type":"Foreach"},"Apply_to_each_-_Add_new_and_changed_items":{"foreach":"@variables('MyExcelKeys')","actions":{"Condition_2":{"actions":{},"runAfter":{},"else":{"actions":{"Create_item":{"runAfter":{},"metadata":{"operationMetadataId":"120ce16a-31b4-4499-961a-14ac6ee835f2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://vanderbilt365.sharepoint.com/sites/ELC","table":"6c70b25b-9bf8-4356-a357-bc6a59f7b590","item/Title":"@item()?['Title']","item/Topic":"@item()?['Topic']","item/Link":"@item()?['Link']","item/Description":"@item()?['Description']","item/Modality":"@item()?['Modality']","item/ConnectedFiles":"@if(equals(item()?['Connected Files'],''),null,item()?['Connected Files'])","item/Location":"@item()?['Location']","item/Creator":"@item()?['Creator']","item/LastEdit":"@item()?['Last Edit']","item/Version_":"@item()?['Version']","item/Course":"@item()?['Course']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@variables('IntersectionArray')","@items('Apply_to_each_-_Add_new_and_changed_items')"]},"metadata":{"operationMetadataId":"c271e478-6f4f-4d47-8154-944429356d32"},"type":"If"}},"runAfter":{"Apply_to_each_-_Delete_SP_items_not_in_Intersection":["Succeeded"]},"metadata":{"operationMetadataId":"176a2c38-eed9-4f01-a07f-c245b0df324d"},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-d7af5e4d-264c-40e0-b299-91575e3ba83b","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"8693665cbea24aec9a0064749d37b6b4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}